In [14]:
import pandas as pd
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

adult = pd.read_csv('adult.data.csv').replace('Male', np.nan) #type: dataframe
# adult = adult.replace('Male', np.nan)
# numpyMatrix = adult.as_matrix() #type: np.array
display(adult)

SyntaxError: invalid syntax (<ipython-input-14-a47ab20385eb>, line 7)

In [11]:
d = {'color' : pd.Series(['white', 'blue', 'orange']),
   'second_color': pd.Series(['white', 'black', 'blue']),
   'value' : pd.Series([1., 2., 3.])}
df = pd.DataFrame(d)
df.replace('white', np.nan, inplace=True)
df

    color second_color  value
0     NaN          NaN    1.0
1    blue        black    2.0
2  orange         blue    3.0